mixin post(text,time)
	.post
		p!= text
		.time
			p Опубликованно в&nbsp;
				span!=time
			button.btn.btn-danger Удалить
doctype
html(ng-app="postsApp")
	head(lang="ru")
	meta(charset="UTF-8")
	link(rel="stylesheet" href="./css/main.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
	script(src="./js/controller.js")
	title Заметки
body
	article.container.center-block(ng-controller="PostsController")
		.row
			.col-sm-12
				.panel.panel-default
					.panel-heading
						h2.text-center.text-uppercase Ваши заметки
					.panel-body
						section.row
							.col-sm-8
								h4.text-center.text-uppercase Самые свежие заметки
								.postsList(ng-repeat="post in posts")
									.post
										p {{post.text}}
										.time
											p Опубликованно в&nbsp;
												span {{post.date}}
											button.btn.btn-danger Удалить
							.col-sm-4
								h4.text-center.text-uppercase Создание новой заметки
								form(name="createPost" ng-submit="addPost()")
									.form-group
										textarea(name="postText" id="postText" ng-model="postText" ng-minlength="minLength" ng-maxlength="maxLength" placeholder="Новая заметка" required).form-control
										p(ng-hide="createPost.$invalid") Осталось&nbsp;
											span(ng-bind="maxLength - postText.length")
											|&nbsp;символов
										p(ng-hide="postText.length > (minLength - 1) || createPost.$error.maxlength") Нужно минимальное количество символов
										p(ng-show="createPost.$error.maxlength").error Ой слишком ного символов
									.form-group
										input(type="submit" value="Создать заметку" ng-disabled="createPost.$invalid").btn.btn-primary
