<!DOCTYPE html>
<html ng-app="postsApp">
  <head lang="ru"></head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="./js/controller.js"></script>
  <title>Заметки</title>
</html>
<body>
  <article ng-controller="PostsController" class="container center-block">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="text-center text-uppercase">Ваши заметки</h2>
          </div>
          <div class="panel-body">
            <section class="row">
              <div class="col-sm-8">
                <h4 class="text-center text-uppercase">Самые свежие заметки</h4>
                <div class="postsList">
                  <div ng-repeat="post in posts | orderBy:'+':true " class="post">
                    <p>{{post.text}}</p>
                    <div class="time">
                      <p>Опубликованно в&nbsp;<span>{{post.date}}</span></p>
                      <button ng-click="deletePost()" class="btn btn-danger">Удалить</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <h4 class="text-center text-uppercase">Создание новой заметки</h4>
                <form name="createPost" ng-submit="addPost()">
                  <div class="form-group">
                    <textarea name="postText" id="postText" ng-model="postText" ng-minlength="minLength" ng-maxlength="maxLength" placeholder="Новая заметка" required class="form-control"></textarea>
                    <p ng-hide="createPost.$invalid">Осталось&nbsp;<span ng-bind="maxLength - postText.length"></span>&nbsp;символов</p>
                    <p ng-hide="postText.length &gt; (minLength - 1) || createPost.$error.maxlength">Нужно минимальное количество символов</p>
                    <p ng-show="createPost.$error.maxlength" class="error">Ой слишком ного символов</p>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Создать заметку" ng-disabled="createPost.$invalid" class="btn btn-primary">
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </article>
</body>